Expanding a dataset
Data Analysis Python Pandas Data Manipulation

You're given a set of data that is aggregated on a monthly basis (as illustrated in Table A). 

Can you write code that can expand this monthly table into a daily table that spreads revenue across the 30 day period (as shown in Table B)? 

You can assume each month has 30 days and that Table A is in a dataframe named "df".

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'month': [1,2,3], 'revenue': [300, 350, 390]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   month  revenue
0      1      300
1      2      350
2      3      390

In [6]:
df['day_rev'] = df['revenue'] / 30

In [20]:
days = pd.DataFrame(list(range(1,31)), columns=['day'])

In [31]:
days1 = pd.DataFrame(list(range(1,31)), columns=['day'])
days1['month'] = days1['day'] // 31 + 1
days2 = pd.DataFrame(list(range(1,31)), columns=['day'])
days2['month'] = days1['day'] // 31 + 2
days3 = pd.DataFrame(list(range(1,31)), columns=['day'])
days3['month'] = days1['day'] // 31 + 3

In [32]:
days = pd.concat([days1, days2, days3])

In [33]:
df.merge(days)

    month  revenue  day_rev  day
0       1      300     10.0    1
1       1      300     10.0    2
2       1      300     10.0    3
3       1      300     10.0    4
4       1      300     10.0    5
..    ...      ...      ...  ...
85      3      390     13.0   26
86      3      390     13.0   27
87      3      390     13.0   28
88      3      390     13.0   29
89      3      390     13.0   30

[90 rows x 4 columns]